<html>
  <head>
    <title>Notify Locator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="margin-top: 48px;">
        <h1 class="display-4">Notify Locator</h1>
        <!-- <p class="lead">blah blah blah...</p> -->
        
        <hr class="my-4">
        
        <div class="form-inline">
          <div class="form-group mr-sm-3 mb-2">
            <label for="mobileNumber" class="sr-only">Mobile number</label>
            <input type="text" id="mobileNumber" class="form-control" placeholder="Mobile number" />
          </div>

          <button id="smsSubmit" onclick="send()" class="btn btn-primary mr-sm-3 mb-2">Send SMS</button>
 
          <div id="smsStatus" class="spinner-border text-secondary mb-2" role="status"  style="display: none;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div id="smsError" class="alert alert-danger" role="alert" style="display: none;">
            There was an error.
        </div>

        <div id="smsSuccess" class="alert alert-success" role="alert" style="display: none;">
            SMS has been sent.
        </div>
      </div>
    </div>

    <script>
      const xhttp = new XMLHttpRequest()

      function send () {
        document.getElementById('smsSubmit').disabled = true
        document.getElementById('mobileNumber').disabled = true
        document.getElementById('smsStatus').setAttribute('style', 'display: inline-block;')
        document.getElementById('smsSuccess').setAttribute('style', 'display: none;')
        document.getElementById('smsError').setAttribute('style', 'display: none;')

        const mobileNumber = document.getElementById('mobileNumber').value
        
        // TODO: validate mobileNumber

        if (!!mobileNumber.trim()) {
          xhttp.open('POST', `<%= URL %>send?mobileNumber=${mobileNumber}`, true)
          xhttp.send()
        }
      }

      xhttp.onreadystatechange = function () {
        if (xhttp.readyState === 4) {
          const { statusCode } = JSON.parse(xhttp.response)
          if (statusCode === 201) {
            document.getElementById('smsSuccess').setAttribute('style', 'display: block;')
          } else {
            document.getElementById('smsError').setAttribute('style', 'display: block;')
          }

          document.getElementById('smsSubmit').disabled = false
          document.getElementById('mobileNumber').disabled = false
          document.getElementById('smsStatus').setAttribute('style', 'display: none;')
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  </body>
</html>